*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 17px;
}

a{
    text-decoration: none;
    color: yellow;
}

p{
    line-height: 1.5em;
}

h1{
    font-size: 40px;
}

h3{
    font-size: 25px;
    color: gray;
}

header{
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #F2F2F2;
    padding: 3px 0;
}





.flex{
    display: flex;
    justify-content: space-between;
}

.nav-text{
    margin: 3%;
}

.search{
    margin-top: 80px;
    padding: 25px 0;
    text-align: center;
    border: 1px solid gray;
}

input{

    background-color: white;
    padding: 10px;
    width: 60%;
    border: 0.5px solid gray;
}




.container{
    width: 100%;
    margin-bottom: 30%;
}

.welcome-text{
    padding: 20px;
}

.welcome-text p{
    padding: 10px 0;
}

.welcome-text h1{
    color: yellow;
}

.welcome-img{
    margin: 5%;
    position: relative;
}

.welcome-img .img2{
    position: absolute;
    top: 130px;
    left: 1px;
    width: 80%;
    
}

.welcome-img .img1{
    width: 100%;
}

.grid1-sec{
    background-color: yellow;
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
}

.list-text h4{
    color: yellow;
    font-size: 13px;
}


.grid-item1{
    background-color: white;
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
    padding: 30px;
}

.abtus{
    background-color: #E5E5E5;
    padding: 50px 0;
    text-align: center;
}

.abtus-text{
    width: 80%;
    margin: auto;
}

.abtus h1{
    margin: 30px;
}

.abtus p{
    width: 70%;
    margin: auto;
}

.abtus .input{
    padding: 30px 30px;
}


.abtus input{
    background-color: #EAC60B;
}

.repair{
    /* padding: 70px 80px; */

}

.repair-text{
    background-color: #EAC60B;
    padding: 20px 10px;
}


.repair h2{
    font-size: 40px;
}

.repair h1{
    font-size: 60px;
}

.repair-link{
    padding: 60px;
}

.popular-sec{
    background-color: #F2F2F2;

}




.popular-text{
    padding: 40px 0;
    text-align: center;
    width: 70%;
    margin: auto;
}

.grid3-item{
    background-color: white;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    padding: 30px;
}

.grid3-img img{
    width: 100%;
}

.grid3-text{
    padding: 20px 0;
}

.grid3-text h3{
    color: yellow;
}


.link{
    padding: 10px;
    width: 80%;
    margin: auto;
}

.home{
    padding: 60px 0;
    background-color: #1A1A1A;
}

.home-text-head{
    padding: 40px 0;
}

.home-text-head h2{
    color: yellow;
    padding: 20px 0;
}

.home-text-head p{
    color: #999999;
}

.home-text{
    width: 80%;
    margin: auto;
    padding: 20px;
    font-size: 20px;
}

.last-grid{
    width: 90%;
}

.last-grid h4{
    color: #EAC60B;
    padding: 30px 0;
}

.last-grid p{
    color: #FFFFFF;
}

.grid-item{
    padding: 40px 0;
}

.last-grid .input input{
    color: yellow;
    background-color: #1A1A1A;
}

.last-grid .input{
    padding: 30px 0;
    text-align: center;

}







.abtus-2{
    margin: auto;
}

.abtus-2-container{
    font-size: 20px;
    position: relative;
    width: 100%;
}

.abtus-2-text{
    padding: 120px 0 20px 0;
    background-color: #ffffff;
    position: relative;
}

.abtus-2-text h2{
    padding: 20px 0;
}



.last-img img{
    width: 80%;
}

.last-img{
    width: 100%;
    z-index: 100;
    position: absolute;
    top: -60px;
    right: -80px;
}

.yellow-rect-contain{
    width: 80%;
}

.yellow-rect{
    z-index: 100;
    position: relative;
    background-color: yellow;
    padding: 20%;
    width: 78%;
    margin: auto;
}

.bghalf{
    background-color: #E5E5E5;
    position: absolute;
    width: 50%;
    top: 0;
    left: 0;
    height: 92%;
  
}

.bg{
    padding: 50px 0;
    width: 80%;
    margin: auto;
    z-index: 100;
    position: sticky;

}

.bg input{
   width: 40%;
   padding: 10px;
}





.img-p{
    margin: 20px 0;
}


footer{
    background-color: #1A1A1A;
}

.foot{
    position: relative;
    padding: 450px 0 10px 0;
    text-align: center;
}


.contact{
    position: absolute;
    top: 160px;
    left: 70px;
    font-size: 18px;
    margin: auto;
    background-color: #EAC60B;
    width: 70%;
    padding: 40px 0;
    text-align: center;
}

.contact-text{
    line-height: 50px;
}

.contact-input {
    padding: 50px 0;
    margin: auto;
    background: white;
    width: 80%;
}

.contact-input-text{
    padding: 40px 0;
    
}

.contact-input-text .button{
    border: 2px solid black;
    width: 100%;
}



.contact-input-text input{
    border: 2px solid white;
    margin: 5px;
    border-bottom-color:#1A1A1A;
    width: 70%;
}


textarea{
    border: 2px solid white;
    border-bottom-color: #1A1A1A;
    padding: 4px 0;
    width: 70%;
}


.footer{
    background-color: #333333;
    padding: 30px 0;
    text-align: center;
}

.footer a{
    text-decoration: underline;
}


.menu-last{
    background-color: #1A1A1A;
}

.menu-last div{
    background-color: white;
    margin: 4px 0;
    width: 20px;
    padding: 1px 0;
}

.logo-div{
    padding: 100px 0 10px 0;
    display: flex;
    width: 70%;
    margin: auto;

}
































@media screen and (min-width: 550px){
    *{
        font-size: 19px;
    }
    p{
        line-height: 1.5em;
    }
    
    h1{
        font-size: 60px;
    }
    
    h3{
        font-size: 45px;
    }
    
    .search{
        display: flex;
        justify-content: space-between;
        width: 100%;

    }
    
    input{
        padding: 10px;
        width: 40%;
    }

    .welcome-text{
        max-width: 590px;
    }

    .welcome-text .button{
        width: 40%;
    }
    
    .welcome-text .button input{
        width: 100%;
    }

    
    .welcome-img{
        margin: 5%;
        position: relative;
        width: 70%;
    }
    
    .welcome-img .img2{
        position: absolute;
        top: 6em;
        left: 6em;
        width: 90%;
    }

    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80%;
        margin: auto;
        gap: 7px;

    }

    .grid-item1{
        width: 100%;
        
    }
    
    .abtus h1{
        font-size: 70px;
    }
    
    .abtus p{
        width: 100%;
        margin: auto;
    }

    .repair{
        /* padding: 20px 30px; */
    }
    
    .repair-text{
        background-color: #EAC60B;
        /* padding: 50px 30px; */
        width: 70%;
    }
    
    
    .repair h2{
        font-size: 40px;
    }
    
    .repair h1{
        width: 60%;
        font-size: 80px;
    }
    
    .repair-link{
        padding: 60px;
    }
    
    .popular-text{
        padding: 60px 0;
        width: 100%;
        text-align: center;
    }

    .popular-text h2{
        width: 50%;
        font-size: 70px;

    }
    
    .popular-text p{
        width: 94%;
        margin: auto;
        text-indent: -2px;
    }

    .grid3-item h3{
        font-size: 24px;
    }

    .grid3-item{
        background-color: white;
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
        padding: 30px;
    }
    
    .grid3-img img{
        width: 100%;
    }
    
    .link{
        width: 90%;
        margin: auto;
    }
    
    .home{
        padding: 20px 0;
    }
    
     
    .home-text{
        width: 95%;
        margin: auto;
        font-size: 40px;
    }

    .home-text-head{
        text-align: center;
    }
    
    .home-text-head h2{
        font-size: 50px;
        color: white;
        padding: 20px 0;
    }
    
    .home-text-head p{
        text-align: center;
    }
   
    
    .last-grid{
        width: 90%;
    }
    
    .last-grid h4{
        color: #EAC60B;
        padding: 30px 0;
        font-size: 30px;
    }
    
    .grid-item{
        padding: 40px 0;
    }
    
    .last-grid .input input{
        color: yellow;
        background-color: #1A1A1A;
    }
    
    .last-grid .input{
        padding: 30px 0;
        text-align: center;
    }
    
    .abtus-2{
        margin: auto;
    }
    
    .abtus-2-container{
        font-size: 20px;
        position: relative;
        width: 100%;
    }
    
    .abtus-2-text{
        padding: 120px 0 20px 0;
        background-color: #ffffff;
        position: relative;
    }
    
    .abtus-2-text h2{
        padding: 20px 0;
    }
    
    .last-img img{
        width: 100%;
    }
    
    .yellow-rect-contain{
        width: 90%;
    }
    
    .yellow-rect{
        padding: 30%;
        width: 78%;
    }
    
    .bghalf{
        background-color: #E5E5E5;
        position: absolute;
        width: 50%;
        height: 92%;
    }
    
    .bg{
        padding: 50px 0;
        width: 80%;
        margin: auto;
        z-index: 100;
        position: sticky;
    
    }
    
    .bg input{
       width: 40%;
       padding: 10px;
    }
    
    .foot{ 
        position: relative;
        padding: 1000px 0 10px 0;
        text-align: center;
    }
    
    
    .contact{  
        position: absolute;
        top:700px;
        left: 60px;
        font-size: 18px;
        margin: auto;
        background-color: #EAC60B;
        width: 80%;
        padding: 40px 0;
        text-align: center;
    }
    
    .contact-text{
        line-height: 50px;
    }
    
    .contact-input {
        padding: 50px 0;
        background: white;
        width: 90%;
    }
    
    .contact-input-text{
        padding: 40px 0;
    }
    
    .contact-input-text input{
        margin: 5px;
        border-bottom-color:#1A1A1A;
        width: 90%;
    }

    .contact-input-text .submit-btn{
        margin-left: 22px;
        width: 30%;
        
    }

    .contact-input-text .button{
        border: 2px solid black;
        width: 100%;
    }
    
    textarea{
        border-bottom-color: #1A1A1A;
        padding: 4px 0;
        width: 90%;
    }
    
    
    .footer{
        background-color: #333333;
        padding: 30px 0;
        text-align: center;
    }
    
    .logo-div{
        padding: 100px 0 10px 0;
        display: flex;
        width: 90%;
        margin: auto;
    
    }
    
}





























@media screen and (min-width: 770px){
    *{
        font-size: 17px;
        padding: 0;
        margin: 0;

    }
    
    h1{
        font-size: 40px;
    }
    
    h3{
        font-size: 25px;
        color: gray;
    }
    

    .nav-text{
        margin: 3%;
    }
    
    input{
        background-color: white;
        padding: 10px;
        width: 60%;
    }

    .search{
        margin-top: 6em;
        padding: 25px 0;
        width: 100%;
    }

     .container{
        width: 100%;  
        margin: 0 auto;   
    }

 


    .welcome{
        display:grid;
        grid-template-columns: repeat(12,1fr);
        width: 90%;
    }
    
    .welcome-text{
        grid-column: 1/6;
        width: 100%;
        grid-row: 1;
    }

    .welcome-text .button{
        width: 50%;
    }
   

    .welcome-img{
        position: relative;
        grid-column: 6/13;
        width: 100%;
        grid-row: 1;
        margin: 0;
    }

    .welcome-img .img1{
        width: 100%;
    }
    
    .welcome-img .img2{
        position: absolute;
        top: 10em;
        left: 6em;
        width: 90%;
       
    }

    .welcome-text h1{
        font-size: 60px;
    }






    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
      

    }
    
    .grid-item1{
        width: 90%;
        padding: 2em 1em 1em 1em;
    }
    
    .abtus{
        padding: 2em 0;
    }
    
    .abtus-text{
        font-size: 3px;
        width: 80%;
        margin: auto;
    }
    
    .abtus h1{
        font-size: 24em;
        margin: 30px;
    }
    
    .abtus p{
        width: 90%;
        font-size: 6em;
        margin: auto;
    }
    
    .abtus .input{
        padding: 30px 30px;
    }
    
    
    .abtus input{
        background-color: #EAC60B;
        width: 30%;
    }
    
    .repair{
        /* padding: 70px 250px 70px 130px; */
    
    }
    
    .repair-text{

        background-color: #EAC60B;
        padding: 20px 10px;
    }
    
    
    .repair h2{
        font-size: 40px;
    }
    
    .repair h1{
        font-size: 80px;
    }
    
    .repair-link{
        padding: 60px;
    }


    .popular{
        margin: auto;
        width: 90%;
        background-color: #F2F2F2;
        
    }

    
    .popular-text{
        padding: 10px 0;
        width: 80%;
        margin-left: -8px;
    }

    .link p{
        margin-left: -4em;
    }


    .grid3{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .grid3-item{
        background-color: white;
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
        padding: 30px;
    }
    
    .grid3-img img{
        width: 100%;
    }
    
    .grid3-text{
        padding: 20px 0;
    }
    
    .grid3-text h3{
        color: yellow;
    }
    
    
    .link{
        padding: 10px;
        width: 80%;
        margin: auto;
    }

    
    .home-text-head h2{
        padding: 20px 0;
    }
    
    .home-text-head p{
        color: #999999;
        font-size: 1.4em;
    }

    .last-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90%;
        margin: auto;
    }
    
    .last-grid h4{
        color: #EAC60B;
        padding: 0;
        margin-bottom: 1.4em;
    }
    
    .last-grid p{
        color: #FFFFFF;
        font-size: 20px;
    }
    
    .grid-item{
        padding: 40px 0;
        width: 80%;
        margin: auto;
        
    }
    
    .home-text .grid-item-input{
        width: 30%;
        padding: 3em 0;
        margin: auto;

    }
    
    .home-text .grid-item-input input{
        color: yellow;
        border: 1px solid yellow;
        background-color: #1A1A1A;
        
    
    }
    
    
    
    
    
    


    
    .abtus-2{
        margin: auto;
    }

    
    .abtus-2-container{
        position: relative;
        
    }
    
    .abtus-2-text{
        padding: 120px 0 20px 0;
        background-color: #ffffff;
        position: relative;
    }
    
    .abtus-2-text h2{
        padding: 20px 0;
    }
    
    .last-img img{
        width: 100%;
    }
    
    .last-img{
        width: 100%;
        z-index: 100;
        position: absolute;
        top: -60px;
        right: -80px;

    }
    
    .yellow-rect-contain{
        width: 100%;
    }
    
    .yellow-rect{
        z-index: 100;
        position: relative;
        background-color: #EAC60B;
        padding: 20%;
        width: 60%;
        margin: auto;
    }
    
    .bghalf{
        top: 0;
        left: 0;
        height: 92%;
        
    }
    
    .bg{
        padding: 1px 0;
        z-index: 100;
        position: sticky;
        margin-top: -3em;
    }
    
    .bg h2{
        font-size: 3em;
    }

    .bg input{
       width: 50%;
       padding: 10px;
    }
    
    
    .bg1{
        width:70%;
    }

    .bg{
        width: 30%;
    }

    .img-p{
        margin: 20px 0;
    }
    
    







    footer{
        background-color: #1A1A1A;
    }

    .grid-foot{
        display: grid;
        grid-template-columns: repeat(4 ,1fr);
    }
    
    .foot{
        position: relative;
        padding: 40px 0 10px 0;
        text-align: center;
    }

    .abtus-2-text{
        display: flex;
    }


    
    .contact{
        grid-column: 1/3;
        position: absolute;
        top: 5em;
        left: 3em;
        font-size: 18px;
        margin: auto;
        background-color: #EAC60B;
        width: 70%;
        padding: 80px 0;
        text-align: center;
    }
    
    .contact-text{
        line-height: 50px;
    }
    
    .contact-input {
        grid-column: 2/5;
        padding: 50px 0;
        padding-right: -20em;
        background: white;
        width: 80%;
        
    }
    
    .contact-input-text input{

        width:80%;
        
    }
    
    .contact-input-text .button{
        border: 2px solid black;
        width: 100%;
        margin-left: 4em;
    }
    
    
    
    .contact-input-text input{
        border: 2px solid white;
        margin: 5px;
        border-bottom-color:#1A1A1A;
        width: 70%;
    }
    
    
    textarea{
        border: 2px solid white;
        border-bottom-color: #1A1A1A;
        padding: 4px 0;
        width: 60%;
    }
    
    
    .footer{
        background-color: #333333;
        padding: 30px 0;
        text-align: center;
    }
    
    .footer a{
        text-decoration: underline;
    }
    
    
    
    
    
    
    
    
    
    
    .logo-div{
        padding: 100px 0 10px 0;
        display: flex;
        width: 70%;
        margin: auto;
    
    }
    

}













/*
.list{
        
    margin-top: 30%;
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 10px 60px 10px;

}

.grid-item1{
    width: 90%;
    padding: 6em 1m 1em 1em;
}*/



















@media screen and (min-width: 990px){



    *{
        font-size: 17px;
    }
    
    p{
        line-height: 2em;
    }
    
    h1{
        font-size: 50px;
    }
    
    h3{
        font-size: 35px;
        color: gray;
    }
    
    header{
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 1000;
        background-color: #F2F2F2;
        padding-top: 3px;
    }
    
    
    
    
    
    .flex{
        display: flex;
        justify-content: space-between;
    }
    
    .nav-text{
        margin: 2%;
    }
    
    .search{
        margin-top: 80px;
        padding: 25px 0;
        text-align: center;
        border: 1px solid gray;
    }
    
    input{
    
        background-color: white;
        padding: 10px;
        width: 60%;
        border: 0.5px solid gray;
    }
    
    
    
    
    .container{
        width: 100%;
        margin: 5% 0 18% 0;
    }
    
    .welcome-text{
        padding: 20px;
    }
    
    .welcome-text p{
        padding: 10px 0;
    }
    
    .welcome-text h1{
        color: yellow;
    }
    
    .welcome-img{
        margin: 1%;
    }
    
    .welcome-img .img2{
        position: absolute;
        top: 12em;
        left: 11em;
        width: 70%;
        
    }
    
    .welcome-img .img1{
        width: 100%;
    }




    
    .grid1-sec{
        background-color: yellow;
        margin: 0;
      
    }
    
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 8px;
    }

    
    .grid-item1{
        background-color: white;
        width: 100%;
        margin-bottom: 2em;
        
    }






    
    
    .abtus{
        background-color: #E5E5E5;
        padding: 50px 0;
    }
    
    .abtus-text{
        width: 70%;
        margin: auto;
    }
    
    .abtus h1{
        margin: 30px;
    }
    
    .abtus p{
        margin: auto;
    }
    
    .abtus .input{
        padding: 30px 30px;
    }
    
    
    .abtus input{
        background-color: #EAC60B;
    }
    
    .repair-sec{
        padding: 70px 80px;
    
    }

    .repair{
        background-color: #EAC60B;
        /* padding: 2em 10em; */
        width: 30%;
    }
    
    .repair h2{
        font-size: 40px;
    }
    
    .repair h1{
        font-size: 60px;
    }
    
    .repair-link{
        padding: 60px;
    }
    
    .popular-sec{
        background-color: #F2F2F2;
    
    }
    
    
    
    
    .popular-text{
        padding: 40px 0;
        width: 70%;
    }

    .grid3{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
    }
    
    .grid3-item{
        background-color: white;
        width: 80%;
        margin: auto;
        margin-bottom: 20px;
        padding: 30px;
    }
    
    .grid3-img img{
        width: 100%;
    }
    
    .grid3-text{
        padding: 20px 0;
    }
    
    .grid3-text h3{
        color: yellow;
        font-size: 16px;
    }
    
    
    .link{
        padding: 10px;
        width: 80%;
        margin: auto;
    }
    
    .home{
        padding: 60px 0;
        background-color: #1A1A1A;
    }
    
    .last-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
    }


    .home-text-head{
        padding: 40px 0;
    }
    
    .home-text-head h2{
        color: yellow;
        
        padding: 20px 0;
    }
    
    .home-text-head p{
        color: #999999;
    }
    
    .home-text{
        width: 80%;
        margin: auto;
        padding: 20px;
        font-size: 20px;
    }
    
    .last-grid{
        width: 90%;
    }
    
    .last-grid h4{
        color: #EAC60B;
        font-size: 18px;
        padding: 30px 0;
    }
    
    .last-grid p{
        color: #FFFFFF;
    }
    
    .grid-item{
        padding: 40px 0;
    }
    
    .last-grid .input input{
        color: yellow;
        background-color: #1A1A1A;
    }
    
    .last-grid .input{
        padding: 30px 0;
        text-align: center;
    
    }
    

  
    
    
    
    
    
    
    .abtus-2{
        margin: auto;
    }

    
    .abtus-2-container{
        position: relative;
        
    }
    
    .abtus-2-text{
        padding: 120px 0 20px 0;
        background-color: #ffffff;
        position: relative;
    }
    
    .abtus-2-text h2{
        padding: 20px 0;
    }
    
    .last-img img{
        width: 100%;
    }
    
    .last-img{
        width: 100%;
        z-index: 100;
        position: absolute;
        top: -60px;
        right: -80px;

    }
    
    .yellow-rect-contain{
        width: 100%;
    }
    
    .yellow-rect{
        z-index: 100;
        position: relative;
        background-color: #EAC60B;
        padding: 20%;
        width: 60%;
        margin: auto;
    }
    
    .bghalf{
        top: 0;
        left: 0;
        height: 100%;
        
    }
    
    .bg{
        padding: 1px 0;
        z-index: 100;
        position: sticky;
        margin-top: -3em;
    }
    
    .bg h2{
        font-size: 3em;
    }

    .bg input{
       width: 50%;
       padding: 10px;
    }
    
    
    .bg1{
        width:70%;
    }

    .bg{
        width: 30%;
    }

    .img-p{
        margin: 20px 0;
    }
    
    
   

    footer{
        background-color: #1A1A1A;
    }

    .grid-foot{
        display: grid;
        grid-template-columns: repeat(4 ,1fr);
    }
    
    .foot{
        position: relative;
        padding: 40px 0 10px 0;
        text-align: center;
    }

    .abtus-2-text{
        display: flex;
    }


    
    .contact{
        grid-column: 1/3;
        position: absolute;
        top: 5em;
        left: 3em;
        font-size: 18px;
        margin: auto;
        background-color: #EAC60B;
        width: 70%;
        padding: 80px 0;
        text-align: center;
    }
    
    .contact-text{
        line-height: 50px;
    }
    
    .contact-input {
        grid-column: 2/5;
        padding: 50px 0;
        padding-right: -20em;
        background: white;
        width: 80%;
        
    }
    
    .contact-input-text input{

        width:80%;
        
    }
    
    .contact-input-text .button{
        border: 2px solid black;
        width: 100%;
        margin-left: 7em;
    }
    
    
    
    .contact-input-text input{
        border: 2px solid white;
        margin: 5px;
        border-bottom-color:#1A1A1A;
        width: 70%;
    }
    
    
    textarea{
        border: 2px solid white;
        border-bottom-color: #1A1A1A;
        padding: 4px 0;
        width: 60%;
    }
    
    
    .footer{
        background-color: #333333;
        padding: 30px 0;
        text-align: center;
    }
    
    .footer a{
        text-decoration: underline;
    }
    
    .logo-div{
        padding: 100px 0 10px 0;
        display: flex;
        width: 70%;
        margin: auto;
    
    }
    

    
    
    
    
    
    
    
    
}
